/* general styles */
* {
  font-family: "Inter", sans-serif;
}

.primary-btn {
  background-color: #1d4ed8;
  color: #fff;
  font-weight: 700;
  padding: 12px 40px;
  border: none;
  border-radius: 12px;
}

/* header section styles */
/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 116px;
}

.nav-links > ul {
  display: flex;
  gap: 24px;
}

.nav-links > ul > li {
  list-style: none;
}

.nav-links > ul > li > a {
  text-decoration: none;
  color: #575757;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
}

/* hero */
.hero-container {
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    ),
    url("/assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  text-align: center;
  padding: 124px 280px;
}

.hero-heading {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.hero-text {
  color: #ffffffe6;
  font-size: 1.25rem;
  padding: 0 120px;
  margin-bottom: 278px;
}

.hero-btn {
  padding: 28px 64px;
  font-size: 1.5rem;
}
